!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Issue Wall
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'jquery', 'jquery-ujs', 'application'
  %body
    #container
      =yield
